<h1>Componente: CabeceraComponent</h1>

<h2>Atributos:</h2>
<mat-list dense>
  <mat-list-item>Title:&nbsp;{{ title }}</mat-list-item>
</mat-list>

<button mat-button (click)="onClickAdd()">Añadir pedido</button>
<button mat-button (click)="onClickFindAll()">Todos los pedidos</button>

<ng-container *ngIf="msg">
  <p>{{ msg }}</p>
</ng-container>

<ng-container *ngIf="pedidos">
  <div *ngFor="let pedido of pedidos">
    <ul>
      Id:
      {{
        pedido.id
      }}
    </ul>
    <ul>
      Desc:
      {{
        pedido.desc
      }}
    </ul>
    <ul>
      Fecha:
      {{
        pedido.fechaPedido
      }}
    </ul>
  </div>
</ng-container>
